<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
        <title>Live For The Moment</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <body>
        <nav class="light-blue lighten-2" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo white-text">Logo</a>
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text" href="signUpPage">Login</a></li>
                </ul>
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="signUpPage">Login</a></li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>

        <div id="index-banner" class="parallax-container">
            <div class="section no-pad-bot">
                <div class="container">
                    <br><br>
                    <h1 class="header center light-blue-text text-lighten-2">Live For The Moment</h1>
                    <div class="row center">
                        <h5 class="header col s12 grey-text text-lighten-1">Non-Profit organization for pediatric Leukemia & Lymphoma</h5>
                    </div>
                    <div class="row center">
                        <a href="#" id="download-button" class="btn-large waves-effect waves-light blue lighten-1">Donate Today</a>
                    </div>
                    <br><br>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/background1.jpg" alt="Unsplashed background img 1"></div>
        </div>

        <div class="container">
            <div class="section">
                <!--   Icon Section   -->
                <div class="row">
                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center pink-text text-lighten-2">
                                <i class="material-icons">language</i></h2>
                            <h5 class="center">Global Reach</h5>

                            <p class="light">LFTM's philanthropic mission is to directly support many local and worldwide families and hosiptals by raising much needed funds and awareness </p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center pink-text text-lighten-2">
                                <i class="material-icons">supervisor_account</i></h2>
                            <h5 class="center">Family Centric</h5>

                            <p class="light">LFTM makes supporting a newly diagnosed child more manageable by providing valuable information and donations solving financial problems facing you and your loved ones. We hope to save a young one's life, one family at a time.</p>
                        </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="icon-block">
                            <h2 class="center pink-text text-lighten-2">
                                <i class="material-icons">business</i></h2>
                            <h5 class="center">Hospital Focused</h5>

                            <p class="light">All proceeds go to charitable hospitals that provides assistance to children, funds research, and provides treatment for poor and uninsured people who can't purchase treatment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">Non-Profit organization for pediatric Leukemia & Lymphoma</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/background2.jpg" alt="Unsplashed background img 2"></div>
        </div>

        <div class="container">
            <div class="section">
                <div class="row">
                    <div class="col s12 center">
                        <!-- <h3><i class="mdi-content-send brown-text"></i></h3> -->
                        <h2 class="center pink-text text-lighten-2">
                            <i class="material-icons">email</i></h2>
                        <h4>Contact Us</h4>
                        <p class="left-align light"> Please feel free to contact us for any questions regarding donations, outreach, or other.
                            Whether you would like to be a part of the cause, support our mission, or have a suggestion, please don't hesitate to reach out to us!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center">
                        <h5 class="header col s12 light">Non-Profit organization for pediatric Leukemia & Lymphoma</h5>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="../static/images/background3.jpg" alt="Unsplashed background img 3"></div>
        </div>

        <footer class="page-footer light-blue lighten-2">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Company Bio</h5>
                        <p class="grey-text text-lighten-4">We are a team of individuals that is determined to help families by saving a child's life through charitable funds raised.</p>

                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Settings</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                    <div class="col l3 s12">
                        <h5 class="white-text">Connect</h5>
                        <ul>
                            <li><a class="white-text" href="#!">Link 1</a></li>
                            <li><a class="white-text" href="#!">Link 2</a></li>
                            <li><a class="white-text" href="#!">Link 3</a></li>
                            <li><a class="white-text" href="#!">Link 4</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    &copy; Live For The Moment 2015 | <a class="white-text text-lighten-2" href="lftm.heroku.com">lftm.heroku.com</a>
                </div>
            </div>
        </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="../static/js/materialize.js"></script>
    <script src="../static/js/init.js"></script>

    </body>
</html>
