<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Live For The Moment</title>
        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="../static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="../static/css/signup.css" rel="stylesheet">

    </head>
    <body>
        <header>
            <nav class="light-blue lighten-2" role="navigation">
                <ul class="right hide-on-med-and-down">
                    <li><a class="white-text" href="/">Home</a></li>
                    <li><a class="white-text" href="#">Sign In</a></li>
                    <li><a class="white-text" href="#">Sign Up</a></li>
                </ul>
            </nav>
        </header>
        <main>
            <div class="container">
                <div class="row">
                    <h1 class="header center light-blue-text text-lighten-2">LFTM Login</h1>
                    <div class="col s12 push-s3">
                        <div class="row">
                            <div class="input-field col s6">
                                <label class="active" for="email">Email</label>
                                <input placeholder="Enter Email Address" id="email" type="text" class="validate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6">
                                <label class="active" for="pwd">Password</label>
                                <input placeholder="Enter Email Address" id="pwd" type="text" class="validate">
                            </div>
                        </div>
                        <button id="btnLogin" class="btn-large waves-effect waves-light blue lighten-1">
                            Login
                        </button>
                        <button id="btnSignUp" class="btn-large waves-effect waves-light blue lighten-1">
                            Sign Up
                        </button>
                    </div>
                </div>
            </div>
        </main>
        <footer class="page-footer light-blue lighten-2">
            <div class="footer-copyright">
                <div class="container">
                    &copy; Live For The Moment 2015 | <a class="white-text text-lighten-2" href="lftm.heroku.com">lftm.heroku.com</a>
                </div>
            </div>
        </footer>
    </body>
</html>